$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$pimary-color:#FFF;
$shadow-color: rgba(0,0,0,0.2);
$secondary-color: #f1f1f1;
$third-color: orange;

.hb-header {
    display: flex;
    flex-flow: column wrap;

    .header-wrapper-top {
        height:55vh;
        background-image: url('../img/background.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .header-image-part {
            display: flex;
            flex-flow: column wrap;

            .header-top {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;

                .logo {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 40px;
                    margin-left: 200px;
                    font-size: 20px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: #FFF;
                    font-weight:bold;

                    .logo-text {
                        margin: 5px;
                        
                        span {
                            display: block;
                            margin: 3px;
                        }
                    }

                    .logo-icon {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                        top: -10px;
                        left: -50px;
                    }
                }

                .navigation {
                    padding-right: 200px;
                    padding-top: 10px;

                    .table-content {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        list-style-type: none;
                        
                        p {
                            
                            bottom: -8px;
                            color:$third-color;
                            font-size: 20px;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: $third-color;
                            margin: 0 12px;
                                            
                        }

                        li {
                            display: inline-block;
                            margin: 0px;

                            button {
                                font-size: 80%;
                                background: none;
                                padding: 10px 20px;
                                cursor: pointer;
                                color: #FFF;
                                border: 0;
                            }
                        }
                    }
                }

            }

            .header-bottom {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .title {
                    font-size: 300%;
                    color: $pimary-color;
                }

                .line-between {
                    display: flex;
                    flex-direction: row;
                    .zig-zag-line {
                        --s: 2px; /* size of the wave */
                        --b: 1px; /* thickness of the line */
                        --m: 0.4; /* curvature of the wave [0 2] */
                        
                        background: $pimary-color;
                        --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
                        height: calc(2*var(--R));
                        width: 100%;
                        --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
                        mask:
                            radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
                            calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
                            radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
                            50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;

                        width: 200px;
                    }
                }

                .cutlery-icon{ 
                    position:relative;
                    top:-4px;
                    width: 10px;
                    height: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .under-line-text {
                    text-align: center;
                    max-width: 600px;
                    white-space: normal;
                    color: $pimary-color;
                    justify-content: center;
                    font-size: medium;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }

            }
        }
        
    }
    .header-wrapper-bottom {
        background-color: #eceaea;
        background-size: cover;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .navigation-bottom {
            height: 100%;
            width: 100%;
            padding-left: 50px;

            .table-content-bottom {
                display: flex;
                flex-flow: row nowrap ;
                list-style-type: none;
                align-items: center;
                height: 100%;
                padding: 0;
                margin: 0;
                gap: 20px;

                li {
                    margin:0;
                }

                .dropdown {

                    .dropdown-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        color:#000;
                        cursor: pointer;
                        border-radius: 4px;
                        font-size: 90%;
                        text-transform: uppercase;
                        margin: 0;
                        padding: 17px 40px;
                        text-transform: uppercase;
                        position: relative;
                        background-color:transparent;
                        &::after {
                            content: '';
                            position: absolute;
                            right:10%;
                            top:50%;
                            transform: translateY(-50%) rotate(45deg);
                            width: 6px;
                            height: 6px;
                            border: solid $third-color;
                            border-width: 0 2px 2px 0;
                            display: inline-block;
                        }

                        &:hover {
            
                            background-color: $secondary-color;
                        }
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: $pimary-color;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px $shadow-color;
                        border-radius: 4px;
                        z-index: 1;

                        a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;

                            &:hover {
                                background-color: $secondary-color;

                            }
                        }
                    }

                    .show {
                        display: block;
                    }
                }

                .price-range-container {
                    display: flex;
                    align-items: center;
                    gap: 1px;
                    position: relative;
                    margin-left: auto;
                    margin-right: 100px;

                    .price-label {
                        font-size: 90%;
                        color: #000;
                        text-transform: uppercase;
                    }

                    #min-price, #max-price {
                        font-size: 90%;
                        width: 40px;
                        text-align: center;
                    }
                    
                    .range-slider {
                        position: relative;
                        width: 150px;
                        height: 5px;
                        display: flex;
                        align-items: center;

                        input[type="range"] {
                            position: absolute;
                            width: 100%;
                            -webkit-appearance: none;
                            background: none;
                            pointer-events: none;
                            z-index: 2;

                            &::-webkit-slider-thumb {
                                pointer-events: all;
                                border: 3px solid $pimary-color;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background: grey;
                                cursor: pointer;
                                -webkit-appearance: none;
                            }

                            &::-moz-range-thumb {
                                pointer-events: all;
                                border: 3px solid $pimary-color;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background: grey;
                                cursor: pointer;
                            }
                        }

                        .slider-track {
                            position: absolute;
                            height: 5px;
                            width: 100%;
                            background: rgb(199, 198, 198);
                            border-radius: 5px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

}
.product-list-wrapper {
    max-width: calc(100% - 400px);
    margin: 0 auto;
    margin-top: 20px;

    .product-list {  
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:0px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 40px;

        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: $pimary-color;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px $shadow-color;

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 5px 0;
            }

            h3 {
                font-size: 18px;
                font-weight: bold;
                margin: 5px 0;
            }

            .category {
                font-size: 14px;
                color: gray;
                margin: 5px 0;
            }

            .price {
                color:orange;
                font-weight: bold;
                font-size: 16px;
                margin-top: 10px;
            }

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 4px 10px $shadow-color;
            }
        }
    }
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: $font-stack;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
