<turbo-frame id="products">
  <section class="product-list" id="productList">
    <% if is_dash %>
        <h2>Product List</h2>
    <% end %>
    <div id="productsContainer">
        <% if @products.any? %>
            <% @products.each do |product| %>
                <%= render partial: 'products/products_cards', locals: { product: product, 
                                                                        show_delete_button: false, 
                                                                        show_add_to_cart_button: true, 
                                                                        show_remove_button: false} 
                %>
            <% end %>
        <% end %>
    </div>
  </section>
</turbo-frame>
