.hb-header {
  display: flex;
  flex-direction: column;
}
.hb-header .header-wrapper-top {
  height: 55vh;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hb-header .header-wrapper-top .header-image-part {
  display: flex;
  flex-flow: column wrap;
}
.hb-header .header-wrapper-top .header-image-part .header-top {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.hb-header .header-wrapper-top .header-image-part .header-top .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-left: 200px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
}
.hb-header .header-wrapper-top .header-image-part .header-top .logo .logo-text {
  margin: 5px;
}
.hb-header .header-wrapper-top .header-image-part .header-top .logo .logo-text span {
  display: block;
  margin: 3px;
}
.hb-header .header-wrapper-top .header-image-part .header-top .logo .logo-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  top: -10px;
  left: -50px;
}
.hb-header .header-wrapper-top .header-image-part .header-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hb-header .header-wrapper-top .header-image-part .header-bottom .title {
  font-size: 300%;
  color: #FFF;
}
.hb-header .header-wrapper-top .header-image-part .header-bottom .line-between {
  display: flex;
  flex-direction: row;
}
.hb-header .header-wrapper-top .header-image-part .header-bottom .line-between .zig-zag-line {
  --s: 2px; /* size of the wave */
  --b: 1px; /* thickness of the line */
  --m: 0.4; /* curvature of the wave [0 2] */
  background: #FFF;
  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2 * var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  -webkit-mask: radial-gradient(var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)), var(--_g)) calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2)/calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x, radial-gradient(var(--R) at left 50% top calc(-1 * var(--m) * var(--s)), var(--_g)) 50% calc(50% + var(--s) / 2 + var(--b) / 2)/calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x;
          mask: radial-gradient(var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)), var(--_g)) calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2)/calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x, radial-gradient(var(--R) at left 50% top calc(-1 * var(--m) * var(--s)), var(--_g)) 50% calc(50% + var(--s) / 2 + var(--b) / 2)/calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x;
  width: 200px;
}
.hb-header .header-wrapper-top .header-image-part .header-bottom .cutlery-icon {
  position: relative;
  top: -4px;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.product-section {
  padding: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f8f8f8;
}
.product-section .product-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-section .product-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-section .product-form form div {
  display: flex;
  flex-direction: column;
}
.product-section .product-form form div label {
  margin-bottom: 5px;
  font-weight: bold;
}
.product-section .product-form form div input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.product-section .product-form form div select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  width: auto;
}
.product-section .product-form form button {
  align-self: flex-start;
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.product-section .product-form form button:hover {
  background: #555;
}
.product-section .product-list h2 {
  margin-bottom: 10px;
}
.product-section .product-list #productsContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.product-section .product-list #productsContainer .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-section .product-list #productsContainer .product-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 5px 0;
}
.product-section .product-list #productsContainer .product-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}
.product-section .product-list #productsContainer .product-card .category {
  font-size: 14px;
  color: gray;
  margin: 5px 0;
}
.product-section .product-list #productsContainer .product-card .price {
  color: orange;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.product-section .product-list #productsContainer .product-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: $font-stack;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */
