$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$pimary-color: #FFF;
$shadow-color: rgba(0, 0, 0, 0.2);
$secondary-color: #f1f1f1;
$third-color: orange;
$primary-color-login: #007bff;
$form-bg: rgba(255, 255, 255, 0.85); // translucent white
$border-radius: 12px;
$input-padding: 14px;
$box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);